<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mta_style.css') }}">
  </head>
  <body>
    <script src="http://d3js.org/d3.v3.js"></script>
  <!-- <script>
  d3.csv("stop_ids.csv", function(error, data) {
    var select = d3.select("body")
      .append("div")
      .append("select")

    select
      .on("change", function(d) {
        var value = d3.select(this).property("value");
        alert(value);
      });

    select.selectAll("option")
      .data(data)
      .enter()
        .append("option")
        .attr("value", function (d) { return d.stop_name; })
        .text(function (d) { return d.stop_name; });
  });
  </script> -->
    <form  method="POST">
      <select name="stops">
        {% for stop_name in stop_names|sort %}
        <option value="{{stop_name}}">{{stop_name}}</option>
        {% endfor %}
      </select>
      <select name="direction">
        <option value="None">Select Direction</option>
        <option value="N">N</option>
        <option value="S">S</option>
      </select>
      <input type="submit" name="button">
    </form>
    {% set update = update %}
    {% set stop = stop %}
    {% set direction = direction %}
    {% if stop != 'None' %}
      <h1 style="font-family:Helvetica, sans-serif">{{ stop }}   {{ direction }}</h1>
      <!-- <h2>{{ direction }}</h2> -->
    {% endif %}
    {% for line in update %}
      {% if line == "A" %}
      <span class="mta-ace mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "C" %}
      <span class="mta-ace mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "E" %}
      <span class="mta-ace mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "B" %}
      <span class="mta-bdfm mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "D" %}
      <span class="mta-bdfm mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "F" %}
      <span class="mta-bdfm mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "M" %}
      <span class="mta-bdfm mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "G" %}
      <span class="mta-g mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "J" %}
      <span class="mta-jz mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "Z" %}
      <span class="mta-jz mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "L" %}
      <span class="mta-l mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "N" %}
      <span class="mta-nqr mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "Q" %}
      <span class="mta-nqr mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "R" %}
      <span class="mta-nqr mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "S" %}
      <span class="mta-s mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "1" %}
      <span class="mta-123 mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "2" %}
      <span class="mta-123 mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "3" %}
      <span class="mta-123 mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "4" %}
      <span class="mta-456 mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "5" %}
      <span class="mta-456 mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "6" %}
      <span class="mta-456 mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% elif line == "7" %}
      <span class="mta-7 mta-bullet">{{ line }}</span>
      <p class="mta">{{ update[line] }}</p>
      {% endif %}
    {% endfor %}
  </body>
</html>
